body {
    font-family: Arial, sans-serif;
    background-image: url(../images/Air_Pollution_Background.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.first_text{
    position: relative;
    top: 100px;
    width: 600px;
    height: 400px;
    left: 160px;
    
}

.first-photo {
    position:relative;
    width: 40%;
    border-radius: 56px;
    border-left:70%;
    left: 53%;
    top: -330px;
}


.second_text {
    position: relative;
    top: -260px;
    width: 600px;
    height: 400px;
    right: -1000px;
}

.second-photo {
    position:relative; 
    width: 40%;
    border-radius: 56px;
    left:3%;
    margin-top: -700px;

}

.first_text ,.second_text {
    color: #FFF;
    text-align: justify;
    font-family: Mplus 1p Bold;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    margin-top: 20px;
}