body {
    font-family: Arial, sans-serif;
    background: linear-gradient(76deg, #70FFA1 1.76%, rgba(0, 209, 255, 0.56) 96.2%);
    background-size: cover;
    background-repeat: no-repeat;
}
form
{
    flex-direction: column;

    padding: 2vw 4vw;
    width: 1000px;
    height: 550px;
    border: 1px solid #000;
    background: #FFF;
    margin-left: 500px;
    margin-top: 100px;
}
form h3
{
    color: #555;
    font-weight: 800;
    border-radius: 10px;
}
form input, form textarea
{
    border: 0;
    margin: 12px 0;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}
form button
{
    padding: 15px;
    border-radius: 50px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 80px;
    right: 200px;
}
.btn
{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-left: 800px;
    margin-top: 150px;
    transition: 0.5s;
}
h1
{
    color: white;
    font-weight: 1000;
    margin-left: 500px;
    margin-top: 100px;
}
.box
{   
    color: white;
    font-weight: 1000;
    font-size: large;
    position: relative;
    left: 00px;
    top: 80px;
}
.footer{
    margin-top: 400px;
}