@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300&display=swap');
body{
    background-image: url(../images/Home_Background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: 0;
    padding: 0;
}


.heading {
    font-family: Montserrat Subrayada; 
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 66px; 
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    
}

.save-conteiner{
    margin-top: -5%;
    position: absolute;
    
}

.save{
    color: #FFF;
    font-family: Montagu Slab;
    font-size: 96px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 50px;
    margin-top: 10px;
}

.earth-conteiner{
    margin-top: -7%;
}

.earth{
    color: #FFF;
    font-family: Montagu Slab;
    font-size: 96px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 0%;
    text-align: right;
}

.box{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


    width: 225.823px;       /*Layout design*/
    height: 80.162px;
    flex-shrink: 0;

    border-radius: 32px;        /*Shape design*/
    border: 1px solid #000;
    background: #C17E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
    margin-left: 350px;    /*Positioning*/
    position: relative;
    top: -200px;
    


    color: #FFF;        /*Typography design*/
    font-family: Montagu Slab;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.no-underline{
    text-decoration: none;
}
.text{
    position: relative;
    left: 400px;
    top: 150px;

    width: 700px;
    height: 54px;
    color: #FFF;
    font-family: Montagu Slab;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text1{
    position: relative;
    left: 690px;
    top: 300px;

    width: 160px;
    height: 30px;
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal ;
    font-weight: 800;
    line-height: normal;
}