@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');

body{
    background-image: url(../images/Home_Background.png);

}


.heading {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
    color: white;
    font-size: 66px; 
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.save-conteiner{
    margin-top: -5%;
    position: absolute;
    
}

.save{
    color: #FFF;
    font-family: 'Montagu Slab', sans-serif;
    font-size: 96px;
    font-style: normal;
    line-height: normal;
    margin-left: 50px;
    margin-top: 10px;
}

.earth-conteiner{
    margin-top: -12%;
}

.earth{
    color: #FFF;
    font-family: 'Montagu Slab', sans-serif;
    font-size: 96px;
    font-style: normal;
    line-height: normal;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 0%;
    text-align: right;
}

.box{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


    width: 225.823px;       /*Layout design*/
    height: 80.162px;
    flex-shrink: 0;

    border-radius: 32px;        /*Shape design*/
    border: 1px solid #000;
    background: #C17E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
    position: relative;         /*Positioning*/
    top: -70px;
    left: 300px;
    


    cursor: pointer;
    color: #FFF;        /*Typography design*/
    font-family: 'Montagu Slab', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    
}
.box1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    width: 225.823px;
    height: 80.162px;
    flex-shrink: 0;

    border-radius: 32px;
    border: 1px solid #000;
    background: #2BD597;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    position: relative;
    top: -150px;
    left: 710px;

    cursor: pointer;
    color: #FFF;        /*Typography design*/
    font-family: 'Montagu Slab', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}
.box2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 225.823px;
    height: 80.162px;
    flex-shrink: 0;

    border-radius: 32px;
    border: 1px solid #000;
    background: #4D92F9; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    color: #FFF;       /*Typography design*/
    font-family: 'Montagu Slab', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;

    position: relative;
    top: -230px;
    left: 1060px;
}
.text{
    position: relative;
    left: 510px;
    top: 250px;

    width: 700px;
    height: 54px;
    color: #FFF;
    font-family: 'Montagu Slab', sans-serif;
    font-size: 25px;
    font-style: normal;
    line-height: normal;
}
.text1{
    position: relative;
    left: 710px;
    top: 280px;

    width: 250px;
    height: 30px;
    color: #FFF;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
}