body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px;
    color: white;
    flex-wrap: wrap;
}

.nav-items:hover a
{
    text-decoration: none;
    color: aliceblue;
}

.nav-items a {
    color: white;
    text-decoration: none;
    padding: 25px;
    margin: 0 5px;
    font-size: 1.5em;
    border-radius: 50px;
    
}

#navbarSupportedContent{
    text-align: center;

}

.team-name {
    font-size: 2em; 
    margin-left: 5px;
}

.logo-image {
    width: 7vw; /* Adjust the width as needed */
    height: auto; /* This ensures the aspect ratio is maintained */
}

.footer {
    background-color: green;
    color: white;
    text-align: left;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.footer-items{
    margin-top: 10px;
    margin-left: 15px;
}

.contact{
    margin-left: 1vw;
}

a:hover {
    background-color: rgba(54, 99, 60, 0.664);
}

#logo2{
    margin-left: 55vw;
}

@media only screen and (max-width: 768px) {
    .nav-items a {
        padding: 10px; 
        font-size: 0.8em; 
        margin: 3px;
    }
    .team-name {
        font-size: 1.2em;     
    }
    .footer-items {
        margin: 3px;
    }
}